{% extends "pets/pet-home.html" %}
{% load static %}

{% block content %}
<div class="breadcrumb-bg py-5  w3l-inner-page-breadcrumb">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <ul class="breadcrumbs-custom-path mt-4 text-center pt-5">
            <li><a href="/">Vaccination Details</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Form </li>
        </ul>
    </div>
</div>
<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="title-content text-left">
            Add Your Pet's Latest Vaccination info </span></h3>
        </div>
        <div class="contact-grids d-grid mt-5 pt-lg-3">
            <div class="contact-right ml-5">
                <form method="post" class="signin-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-grids">
                        {% for field in form %}
                        <label for="">{{field.label}}</label>
                        {{field}}
                        {% endfor %}
                    </div>
                    <div class="submit-w3l-button text-lg-right">
                        <button class="btn btn-style btn-primary">Confirm Booking</button>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}